version 5.137.2
storage: none
framework: netstandard20
source https://www.nuget.org/api/v2

nuget Microsoft.CodeAnalysis.CSharp 2.6.1
nuget Microsoft.CodeAnalysis.EditorFeatures 2.6.1
nuget Microsoft.CodeAnalysis.EditorFeatures.Text 2.6.1
nuget Microsoft.CodeAnalysis.Features 2.6.1